<div class="card">
    <div class="song-img-container">
        <img class="card-img-top" [src]="model.imageSrc" [alt]="model.fullName">
    </div>
    <div class="card-block">
        <h4 class="card-title">{{model.singer}}</h4>
        <p class="card-text">{{model.title}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>Рейтинг</div>
            <ngb-rating readonly="true" [rate]="model.globalRating"></ngb-rating>
        </li>
        <li class="list-group-item">
            <div>Личный рейтинг</div>
            <ngb-rating [rate]="model.userRating" (rateChange)="rateChange($event)"></ngb-rating>
        </li>
    </ul>
    <div class="card-block">
        <section *ngIf="!model.inCollection">
            <i class="fa fa-plus-circle green" aria-hidden="true"></i>
            <a class="add-btn" href="javascript:" (click)="add()">Добавить в коллекцию</a>
        </section>
        <section *ngIf="model.inCollection">
            <i class="fa fa-minus-circle red" aria-hidden="true"></i>
            <a class="add-btn" href="javascript:" (click)="remove()">Удалить из коллекции</a>
        </section>
    </div>
</div>