<div class="card" [class.small-card]="!isAuthorized" [class.big-card]="isAuthorized">
    <div class="song-img-container">
        <img class="card-img-top" [src]="model.imageSrc" [alt]="model.fullName">
    </div>
    <div class="card-block">
        <h4 class="card-title" [title]="model.singer">{{model.singer}}</h4>
        <p class="card-text" [title]="model.title">{{model.title}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div>Рейтинг ({{model.ratesCount}} оценок)</div>
            <ngb-rating readonly="true" [rate]="model.globalRating"></ngb-rating>
        </li>
        <li [hidden]="!isAuthorized" class="list-group-item">
            <div>Личный рейтинг</div>
            <ngb-rating [rate]="model.userRating" (rateChange)="rateChange($event)"></ngb-rating>
        </li>
    </ul>
    <div [hidden]="!isAuthorized" class="card-block">
        <i class="fa fa-search" aria-hidden="true"></i>
        <a [href]="link" target="_blank">Поиск на Yandex музыке</a>
        <section *ngIf="!model.inCollection">
            <i class="fa fa-plus-circle green" aria-hidden="true"></i>
            <a class="add-btn" href="javascript:" (click)="add()">Добавить в коллекцию</a>
        </section>
        <section *ngIf="model.inCollection">
            <i class="fa fa-minus-circle red" aria-hidden="true"></i>
            <a class="add-btn" href="javascript:" (click)="remove()">Удалить из коллекции</a>
        </section>
    </div>
</div>