<div class="header-filler"></div>
<div class="container">
    <div class="row head-block">
        <div class="col-md-10 service-name">
            <a routerLink="/top">MyMusicList</a>
        </div>
        <div class="col-md-1 header-menu-item">
            <a routerLink="/user">{{username}}</a>
        </div>
        <div [hidden]="!isAuthorized" class="col-md-1 header-menu-item">
            <a href="javascript:" (click)="logout()">Выход</a>
        </div>
        <div [hidden]="isAuthorized" class="col-md-1 header-menu-item">
            <a routerLink="/login">Вход</a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>