nav {
    background-color: rgb(237, 238, 240);
    border-radius: 15px;
    height: 140px;

    a {
        display: block;
        margin-bottom: 10px;

        padding: 5px 10px;
        text-decoration: none;
        margin-right: 10px;
        margin-top: 10px;
        background-color: #eee;
        border-radius: 4px;
        text-decoration: none;
        width: 100%;
    }
    a:visited, nav a:link {
        color: #607D8B;
        text-decoration: none;
    }
    a:hover {
        color: #039be5;
        background-color: #CFD8DC;
        text-decoration: none;
    }
    a.active {
        color: #039be5;
    }
}
