.head-block {
    background: #2e51a2;
    color: #fff;
    margin-bottom: 1px;
    height: 50px;
    margin-bottom: 10px;
}
.head-block a {
    color: #fff;
}
.head-block .service-name a {
    text-decoration: none;
}
.left-sidebar {
    background-color: rgb(237, 238, 240);
}
.service-name {
    height: 100%;
    font-size: 24pt;
}
.left-sidebar a {
    display: block;
    margin-bottom: 10px;
}
.header-menu-item {
    padding-top: 13px;
    text-align: center;
}