<div class="card">
    <div class="music-img-container">
        <img class="card-img-top" [src]="model.imageSrc" [alt]="model.fullName">
    </div>
    <div class="card-block">
        <h4 class="card-title">{{model.singer}}</h4>
        <p class="card-text">{{model.title}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Raiting here</li>
        <li class="list-group-item">Local raiting here</li>
    </ul>
    <div class="card-block">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
    </div>
</div>